/* Шрифты */
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamProBoldItalic.eot');
  src: local('Gotham Pro Bold Italic'), local('GothamProBoldItalic'),
    url('../fonts/GothamProBoldItalic.woff2') format('woff2'),
    url('../fonts/GothamProBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamProLight.eot');
  src: local('Gotham Pro Light'), local('GothamProLight'),
    url('../fonts/GothamProLight.woff2') format('woff2'),
    url('../fonts/GothamProLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Настройка */
* {
  box-sizing: border-box;
}

h1,
h2,
ul,
p {
  margin: 0;
}

body {
  font-family: 'Gotham Pro', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.section:not(:last-child) {
  margin-bottom: 40px;
}

/* Index */
.container {
  margin: 0 auto;
  width: 600px;
}

.index-link {
  display: inline-block;
  margin: 0;
  padding-left: 25px;
  width: 250px;
  border: 2px solid greenyellow;
  border-radius: 20px;
  background-color: greenyellow;
  font-size: 60px;
  color: black;
  text-decoration: none;
}

.index-link:not(:last-child) {
  margin-right: 96px;
  margin-bottom: 40px;
}

.footer-text {
  margin-bottom: 15px;
}

/* HTML5 */
.container-base {
  width: 1280px;
  margin: 0 auto;
}

.body {
  padding: 40px 30px;
}

.header {
  margin-bottom: 40px;
}

.main {
  margin-bottom: 40px;
}

.title-one {
  font-family: 'Gotham Pro', sans-serif;
  font-weight: bold;
  font-style: italic;
}

.title-two {
  margin-bottom: 20px;
  font-family: 'Gotham Pro', sans-serif;
  font-weight: bold;
  font-style: italic;
}

.list {
  padding-left: 20px;
}

.list-item:not(:last-child) {
  margin-bottom: 10px;
}

/* projects */
.container-projects {
  width: 1280px;
  margin: 0 auto;
  padding: 80px 15px;
}
